// header

header {
	height: 96px;
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9;

	&.fixed {
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	}
}

.logo {
	display: block;
	margin-top: 24px;
	margin-left: 10px;
}

nav {
	float: right;

	li {
		display: inline;
		line-height: 96px;

		a {
			font-weight: bold;
			color: $l;
			position: relative;

			&.active {
				color: $o;
				cursor: default;

				&:after {
					display: none;
				}
			}

			&:after {
				display: block;
				content: '';
				position: absolute;
				bottom: -4px;
				left: 0;
				right: 0;
				height: 3px;
				background-color: $l;
				transform: scaleX(0);
				transition: transform .15s linear;
			}

			&:hover {
				&:after {
					transform: scaleX(1);
				}
			}
		}
	}

	li + li {
		padding-left: 28px;
	}
}

// top

.top {
	height: 688px;
	background-image: url('../images/top-bg.jpg');
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
}

.about {
	background-color: $e;
	padding-bottom: 80px;

	p {
		font-size: 18px;
	}
}

h1 {
	color: $o;
	text-align: center;
	font-size: 40px;
	font-family: $h1;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-bottom: 50px;
	position: relative;

	.icon {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 8px;
		line-height: 1;
	}
}

// gallery

.gallery {
	padding-bottom: 50px;
}

$guter: 36px;

.gallery-slider {
	margin-left: -$guter;

	.swiper-slide {
		width: 352px;
		margin-left: $guter;

		a {
			display: block;
			overflow: hidden;
			position: relative;
			width: 352px;
			height: 224px;

			img {
				vertical-align: top;
				width: 100%;
				height: 100%;
			}

			div {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(247, 148, 30, 0.7);
			}
		}

		a + a {
			margin-top: $guter;
		}
	}

	&.hide-before {
		&:before {
			display: none;
		}
	}

	&.hide-after {
		&:after {
			display: none;
		}
	}

	&:before, &:after {
		display: block;
		position: absolute;
		content: '';
		width: 352px;
		height: 100%;
		top: 0;
		bottom: 0;
		z-index: 2;
		pointer-events: none;
	}

	&:before {
		left: $guter;
		background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
	}

	&:after {
		right: 0;
		background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
	}
}

.slider-arrows {
	position: absolute;
	top: 50%;
	margin-top: -35px;
	cursor: pointer;
	z-index: 3;
	height: 70px;
	line-height: 70px;

	&.hide {
		display: none;
	}

	.icon {
		display: block;
		font-size: 70px;
		color: $o;
	}
}

.slidePrev {
	left: 60px + $guter;
}

.slideNext {
	right: 60px;
}

// participate

.participate {
	height: 400px;
	background-color: $e;
}

// contacts

.contacts {
	height: 470px;

	.container {
		padding: 48px 0 0;
	}

	ul {
		li {
			margin-top: 10px;
			margin-bottom: 20px;
		}

		a {
			color: $l;
			transition: .1s;

			&:hover {
				color: $o;
			}
		}
	}
}

.contacts-title {
	height: 64px;
	line-height: 64px;
	font-family: $h2;
	font-size: 24px;
	color: $b;
}

.contact-item {
	margin: 20px 0 30px;

	&:before,
	&:after {
		display: table;
		line-height: 0;
		content: "";
	}

	&:after {
	 	clear: both;
	}

	.icon {
		width: 32px;
		font-size: 34px;
		display: block;
		float: left;
		text-align: center;
		color: $l;
	}

	&__text {
		float: left;
		margin-left: 16px;
		height: 34px;
		line-height: 34px;
	}
}

.contact-item + .contact-item {
	margin-bottom: 16px;
}

.icon-phone {
	font-size: 16px;
}

.social-links {
	padding-top: 5px;

	a {
		display: inline-block;
		color: $l;
		line-height: 32px;
		height: 32px;
	}
}

.icon-facebook {
	font-size: 32px;
	margin-right: 16px;
	transition: .1s;

	&:hover {
		color: #3765A3;
	}
}

.icon-youtube {
	font-size: 26px;

	transition: .1s;

	&:hover {
		color: #E32C26;
	}
}

// footer

footer {
	text-align: center;
	background-color: $e;

	img {
		margin: 46px 0 32px;
	}
}

.copyright {
	text-align: center;
	padding-bottom: 35px;

	sub {
		font-size: 24px;
	}
}