// BG
//------------------------------------

$e: #f5f5f5;

// Colors
// -----------------------------------

$o: #f7941e;
$g: #666;
$b: #444;
$l: #999;


// Fonts
// ------------------------------------

$c: 'celiasregular';
$h1: 'brushstrikeregular';
$h2: 'bebas_neueregular';

