@import "_variables.scss";
@import "_classes.scss";
@import "_icons.scss";
@import "_reset.scss";
@import "_structure.scss";
@import "_swiper.scss";
@import "_lightbox.scss";

// header

header {
	height: 96px;
	background-color: #fff;
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.logo {
	display: block;
	margin-top: 24px;
	margin-left: 10px;
}

nav {
	float: right;

	li {
		display: inline;
		line-height: 96px;

		&.current {
			a {
				color: $o;
				cursor: default;
			}
		}

		a {
			font-weight: bold;
			font-size: 14px;
			color: $l;
			position: relative;
			transition: .1s;

			&:hover {
				color: $o;
			}
		}
	}

	li + li {
		padding-left: 23px;
	}
}

.sign-btn {
	float: right;
	height: 36px;
	line-height: 36px;
	width: 96px;
	background-color: #ccc;
	color: #fff;
	font-size: 14px;
	transition: .15s;
	margin-top: 30px;
	margin-left: 34px;
	display: block;
	text-align: center;

	&:hover {
		background-color: $o;
	}
}

.lang {
	position: relative;
	float: right;
	margin-left: 22px;
	margin-top: 33px;

	&:hover {
		.langs {
			display: block;
		}
	}
}

.curent-lang {
	position: relative;
	font-size: 14px;
	padding-right: 24px;
	text-transform: uppercase;
	cursor: pointer;

	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0px;
		top: 12px;
		width: 0; 
		height: 0; 
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		
		border-top: 6px solid #ccc;
	}
}

.langs {
	position: absolute;
	border: 1px solid #ccc;
	padding: 0 2px;
	min-width: 37px;
	background-color: #fff;
	top: 27px;
	text-align: center;
	display: none;

	li {
		line-height: 28px;
	}

	a {
		color: $l;
		transition: .1s;
		text-transform: uppercase;

		&:hover {
			color: $o;
		}
	}
}

.menu-close {
	display: none;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 5px;
	top: 13px;

	&:before {
		position: absolute;
		display: block;
		content: '';
		width: 20px;
		height: 2px;
		background-color: $o;
		transform: rotate(45deg);
		top: 15px;
		left: 6px;
	}

	&:after {
		position: absolute;
		display: block;
		content: '';
		width: 20px;
		height: 2px;
		background-color: $o;
		transform: rotate(-45deg);
		top: 15px;
		left: 6px;
	}
}

.menu-open {
	display: none;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 6px;
	top: 13px;
	text-align: center;

	span {
		display: block;
		width: 20px;
		height: 2px;
		background-color: $o;
		margin-left: 6px;
		margin-top: 15px;
		position: relative;

		&:before {
			position: absolute;
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			background-color: $o;
			top: -5px;
			left: 0;
		}

		&:after {
			position: absolute;
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			background-color: $o;
			top: 5px;
			left: 0;
		}
	}
}


// top

.top {
	padding-top: 96px;
	position: relative;
	overflow: hidden;
}

.top-slider {
	height: 688px;
}

.top-slider {

	.swiper-slide {
		background-size: cover;
		background-position: center 0;
		background-repeat: no-repeat;
	}
}

.slide1 {
	background-image: url('../images/header/slide1.jpg');
}

.slide2 {
	background-image: url('../images/header/slide2.jpg');
}

.slide3 {
	background-image: url('../images/header/slide3.jpg');
}

.slide4 {
	background-image: url('../images/header/slide4.jpg');
}

.description {
	position: absolute;
	top: 96px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.desc-container {
	position: absolute;
	top: 0;
	left: 50%;
}

.slogan {
	position: relative;
	margin-top: 40px;

	.icon {
		color: $o;
		font-size: 230px;
		line-height: 1;
	}
}

.slogan-text1 {
	position: absolute;
	font-family: $h1;
	color: #fff;
	font-size: 32px;
	line-height: 32px;
	top: 74px;
	left: 76px;
	letter-spacing: 0.05em;

	span {
		position: relative;
		display: inline-block;

		&:after {
			border-top: 1px solid #fff;
			content: '';
			display: block;
			position: absolute;
			top: 55%;
			left: -6px;
			right: -6px;
		}
	}
}

.slogan-text2 {
	position: absolute;
	font-family: $h1;
	font-size: 48px;
	line-height: 48px;
	white-space: nowrap;
	color: #fff;
	top: 102px;
	left: 224px;
	letter-spacing: 0.11em;

	b {
		position: relative;
		left: -20px;
	}
}

.video-desc {
	padding-left: 80px;
	position: relative;
	margin-bottom: 85px;

	h1 {
		margin: 0;
		padding: 0;
		color: #fff;
		font-size: 48px;
		line-height: 56px;
		text-align: left;
		font-family: $h2;

		strong {
			font-weight: bold;
			display: block;
			letter-spacing: 0.05em;
		}

		span {
			text-transform: uppercase;
			font-family: 'bebas_neuebook';
			font-size: 48px;
			letter-spacing: 0.05em;
		}
	}

	.icon {
		position: absolute;
		font-size: 44px;
		line-height: 1;
		top: 35px;
		left: -28px;
		color: #fff;
		transition: .1s;

		&:hover {
			color: $o;
		}
	}
}

.desc-bottom {
	padding-left: 80px;
}

.desc-item {
	display: inline-block;
	position: relative;
	width: 254px;
	padding-right: 10px;
	line-height: 30px;
	margin-bottom: 36px;

	.icon {
		color: $o;
		font-size: 104px;
		line-height: 1;
		position: absolute;
		left: -58px;
		top: -16px;
	}
}

.desc-text {
	font-size: 20px;
	color: #fff;
	position: relative;
	z-index: 2;
}

.top-video {
	position: absolute;
	top: 96px;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity .15s;
	z-index: 10;

	&.open {
		visibility: visible;
		opacity: 1;
	}
}

iframe {
	transform: translateZ(0);
	width: 978px;
	height: 550px;
}

.close-video {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 19px;
		right: 0;
		width: 40px;
		height: 3px;
		background-color: #fff;
		transform: rotate(45deg);
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 19px;
		right: 0;
		width: 40px;
		height: 3px;
		background-color: #fff;
		transform: rotate(-45deg);
	}
}

// about

.about {
	background-color: $e;
	padding-bottom: 80px;

	p {
		font-size: 18px;
		text-align: center;
	}
}

h1 {
	color: $o;
	text-align: center;
	font-size: 40px;
	font-family: $h1;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-bottom: 50px;
	position: relative;
	letter-spacing: 0.02em;

	.icon {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 8px;
		line-height: 1;
	}
}

// gallery

.gallery {
	padding-bottom: 50px;
}

$guter: 32px;

.gallery-slider {
	margin-left: -$guter;
	margin-bottom: 55px;

	.swiper-slide {
		width: 352px;
		margin-left: $guter;

		a {
			display: block;
			overflow: hidden;
			position: relative;
			width: 352px;
			height: 224px;

			img {
				vertical-align: top;
				width: 100%;
				height: 100%;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(247, 148, 30, 0.7);
				opacity: 0;
				top: 0;
				right: 0;
				left: 0;
				transition: opacity 0.15s;
			}

			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}

		a + a {
			margin-top: $guter;
		}
	}
}

.slider-arrows {
	position: absolute;
	top: 50%;
	margin-top: -35px;
	cursor: pointer;
	z-index: 3;
	height: 70px;
	line-height: 70px;

	&.hide {
		display: none;
	}

	.icon {
		display: block;
		font-size: 70px;
		color: #fff;
		opacity: 0.5;
		transition: 0.15s;
		text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
	}

	&:hover {
		.icon {
			opacity: 1;
		}
	}
}

.slidePrev {
	left: 60px + $guter;
}

.slideNext {
	right: 60px;
}

.gallery-links {
	text-align: center;

	a {
		color: $l;
		margin: 0 30px;
		transition: .1s;

		&:hover {
			color: $o;
		}
	}
}

// participate

.participate {
	background-color: $e;
	padding-bottom: 50px;
}

.part-item {
	margin-bottom: 10px;
	min-height: 460px;
	

	&__icon {
		height: 162px;
		line-height: 162px;
		text-align: center;
		margin-bottom: 20px;
	}

	.icon {
		color: $o;
		font-size: 100px;
	}

	h2 {
		color: $b;
		margin-bottom: 30px;
		font-family: $h2;
		text-align: center;
		font-size: 32px;
		line-height: 32px;
		margin-bottom: 32px;
	}

	.icon-biceps {
		font-size: 96px;
	}

	.icon-helmet {
		font-size: 74px;
	}

	.icon-steak_big {
		font-size: 134px;
	}

	.icon-hand_shake_big {
		font-size: 70px;
	}

	.icon-disco_ball_big {
		font-size: 110px;
	}
}

.video-participate {
	text-align: center;
	padding: 40px 0 30px 0;

	a {
		display: inline-block;
		margin-bottom: 18px;
	}

	> span {
		display: block;
		text-align: center;
	}
}

.video-link {
	display: inline-block;

	.icon {
		color: $l;
		font-size: 44px;
		transition: .1s;

		&:hover {
			color: $o;
		}
	}
}

.participate-qwe {
	font-size: 24px;
	color: $l;
	font-family: $h2;
}

.video-watch {
	font-size: 24px;
	color: $o;
	font-family: $h2;
}

.fixed-video {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
	opacity: 0;
	transition: opacity .15s;
	z-index: 11;

	&.open {
		visibility: visible;
		opacity: 1;
	}
}

// join

.join {
	h2 {
		color: $o;
		font-family: $h2;
		font-size: 40px;
		margin-bottom: 30px;
		letter-spacing: 0.01em;
	}

	p {
		letter-spacing: 0.02em;
	}

	.span1 {
		position: relative;
		text-align: center;

		.icon-blob {
			position: absolute;
			top: 3px;
			left: -27px;
			color: $o;
			font-size: 90px;
		}
	}

	.span5 {
		p {
			font-size: 18px;
			letter-spacing: 0.02em;
		}
	}
}

.join-1 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.join-2 {
	background-color: $e;
	padding-top: 110px;
	padding-bottom: 60px;
}

.join-3 {
	padding-top: 110px;
	padding-bottom: 40px;
}

.join-step {
	color: $o;
	font-family: $h2;
	font-size: 40px;
	color: #fff;
	position: relative;
	z-index: 2;
}

.mt-32 {
	margin-top: 32px;
}

.join-wrap {
	margin-bottom: 56px;
}

.join-margin {
	margin: 30px 0 20px;
}

.join-item {
	display: table-cell;
	margin-bottom: 30px;
	width: 100%;

	> span {
		vertical-align: middle;
		display: inline-block;
	}

	.icon-top {
		vertical-align: top;
		top: 12px;
	}

	.icon {
		width: 90px;
		color: $o;
		font-size: 50px;
		display: inline-block;
		position: relative;
	}

	.icon-flag {
		font-size: 66px;
	}

	.icon-biceps {
		font-size: 62px;
	}

	.icon-lips {
		font-size: 40px;
	}

	.icon-bubble {
		left: 10px;
		font-size: 60px;
	}

	.icon-notes {
		font-size: 54px;
	}

	.icon-camera {
		left: 10px;
	}

	.icon-eye {
		font-size: 60px;
	}

	.icon-stars {
		font-size: 60px;	
	}

	.icon-aces {
		font-size: 58px;
	}

	.icon-clock {
		font-size: 56px;
		left: 5px;
	}

	.icon-cloud {
		font-size: 40px;
	}
}

.join-title {
	font-size: 24px;
	color: $b;
	font-family: $h2;
}

.join-desc {
	display: inline-block;
	width: 450px;
}

// price

.price {
	background-color: $o;
	padding-bottom: 50px;
	text-align: center;

	h1 {
		color: #fff;

		.icon {
			color: #fff;
		}
	}

	p {
		color: #fff;
		letter-spacing: 0.02em;
		position: relative;
		top: -10px;
	}
}

.charge {
	display: inline-block;
	position: relative;
	top: -10px;

	.icon {
		color: #fff;
		font-size: 200px;
		line-height: 1;
	}
}

.cost {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 185px;
	color: $o;
	text-transform: uppercase;
	font-family: $h2;
	font-size: 28px;
}

// register 

.register {
	padding-bottom: 90px;
	background-image: url('../images/register.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0;

	h1 {
		color: #fff;

		.icon {
			color: #fff;
		}
	}

	.span5 {
		width: 464px;
	}

	.span7 {
		margin-left: 0;
		width: 654px;
	}
}

.tab {
	padding: 50px 0 50px 0;
	min-height: 386px;

	.span4 > *{
		padding: 0 20px;
	}

	&.active {
		background-color: #fff;

		.icon {
			color: $o;
			position: relative;
			top: 16px;
		}

		.tab-title {
			color: $b;
			margin-bottom: 20px;
		}
	}

	.icon {
		color: #fff;
		font-size: 54px;
		margin-left: 24px;
	}

	p {
		letter-spacing: 0.01em;
	}
}

.tab-title {
	display: block;
	color: #fff;
	font-size: 24px;
	font-family: $h2;
}

.tab-content {
	padding: 50px 0 48px 24px;
	background-color: $e;
}

.form-label {
	line-height: 1;
	color: $b;
	margin-bottom: 12px;
}

.form-item {
	display: inline-block;
	width: 288px;

	&:nth-child(2n) {
		margin-left: 24px;
	}
}

.form-input {
	margin-bottom: 32px;
	box-sizing: border-box;
	width: 100%;
	padding: 0 5px 0 18px;
	height: 48px;
	line-height: 48px;
	background-color: #fff;
	border: 1px solid #fff;
	transition: .1s;
	color: $g;

	&.error {
		border: 1px solid red;
	}

	&:focus {
		outline: none;
		border: 1px solid $o;
	}
}

::placeholder {
	color: #ccc;
}

.check-wrap {
	display: inline-block;
	position: relative;
	width: 48px;
	height: 48px;
	background-color: #fff;
	margin-right: 16px;
	position: relative;
	top: 10px;
}

.icon-check {
	color: $o;
	font-size: 30px;
	display: block;
	height: 48px;
	text-align: center;
	line-height: 48px;
	opacity: 0;
	transition: .1s;
}

.form-check {
	position: absolute;
	z-index: 2;
	width: 48px;
	height: 48px;
	opacity: 0;
	cursor: pointer;
}

.form-check:checked + .icon {
	opacity: 1;
}

.check-text {
	display: inline-block;
	width: 200px;
	line-height: 24px;
	position: relative;
	top: 13px;
}

.form-btn {
	text-align: center;
}

.register-btn {
	display: inline-block;
	width: 288px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	color: #fff;
	font-size: 32px;
	font-family: $h2;
	background-color: $o;
	transition: .1s;

	&:hover {
		background-color: #E88713;
	}
}

// program

.program {
	padding-bottom: 60px;

	h2 {
		color: $b;
		font-size: 40px;
		font-family: $h2;
		line-height: 1;
		padding: 0 0 48px 0;
		text-align: center;
	}
}

.program-item {
	letter-spacing: 0.01em;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 24px;

	.span1 {
		text-align: right;
	}
}

// sponsors

.sponsors {
	background-color: $e;
	padding-bottom: 96px;

	h2 {
		color: $b;
		font-size: 40px;
		font-family: $h2;
		line-height: 1;
		padding: 48px 0;
		text-align: center;
	}
}

.sp-slider {
	.swiper-slide {
		width: 160px;
		margin: 0 16px;
	}

	a {
		display: block;

		&:hover {
			img {
				filter: grayscale(0);
				filter: none;
				opacity: 1;
			}
		}
	}

	img {
		vertical-align: top;
		transition: all .3s ease;
		filter: grayscale(1);
		opacity: 0.6;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	}
}

// labours

.labours {
	background-color: $e;
	padding-bottom: 96px;

	h2 {
		color: $b;
		font-size: 40px;
		font-family: $h2;
		line-height: 1;
		padding: 48px 0;
		text-align: center;
	}
}

.lb-slider {
	.swiper-slide {
		width: 544px;
		margin: 0 16px;
	}

	p {
		letter-spacing: 0.01em;
	}
}

.lb-title {
	position: relative;
	min-height: 106px;

	.icon {
		position: absolute;
		color: $o;
		font-size: 92px;
		line-height: 1;
	}
}

.lb-step {
	position: absolute;
	color: #fff;
	z-index: 2;
	font-family: $h2;
	font-size: 24px;
	font-weight: bold;
	top: 26px;
	left: 52px;
}

.lb-caption {
	font-size: 24px;
	color: $b;
	font-family: $h2;
	padding-left: 90px;
	padding-top: 26px;
	position: relative;
	z-index: 2;
}

.lb-row {
	&:before,
	&:after {
		display: table;
		line-height: 0;
		content: "";
	}

	&:after {
	 	clear: both;
	}

	img {
		width: 100%;
		vertical-align: top;
	}
}

.lb-block {
	width: 256px;
	float: left;
}

.lb-block + .lb-block {
	margin-left: 32px;
}

.lb-row + .lb-row {
	margin-top: 22px;
}



// contacts

.contacts {
	padding-bottom: 50px;

	.container {
		padding: 48px 0 0;
	}

	ul {
		li {
			margin-top: 10px;
			margin-bottom: 20px;
		}

		a {
			color: $l;
			transition: .1s;
			display: block;
			line-height: 24px;

			&:hover {
				color: $o;
			}
		}
	}
}

.contacts-title {
	height: 64px;
	line-height: 64px;
	font-family: $h2;
	font-size: 24px;
	color: $b;
}

.contact-item {
	display: block;
	margin: 20px 0 30px;

	&:before,
	&:after {
		display: table;
		line-height: 0;
		content: "";
	}

	&:after {
	 	clear: both;
	}

	.icon {
		width: 40px;
		font-size: 30px;
		display: block;
		float: left;
		text-align: center;
		color: $l;
	}

	&__text {
		float: left;
		margin-left: 16px;
		height: 34px;
		line-height: 34px;
	}
}

.contact-item + .contact-item {
	margin-bottom: 16px;
}

a.contact-item {
	&:hover {
		color: $o;

		.icon {
			color: $o;
		}
	}
}

.icon-phone {
	font-size: 16px;
}

.social-links {
	padding-top: 5px;

	a {
		display: inline-block;
		color: $l;
		line-height: 32px;
		height: 32px;
	}
}

.icon-facebook {
	font-size: 32px;
	margin-right: 16px;
	transition: .1s;

	&:hover {
		color: #3765A3;
	}
}

.icon-youtube {
	font-size: 26px;

	transition: .1s;

	&:hover {
		color: #E32C26;
	}
}

.contacts-tab {
	font-family: $h2;
	padding: 0 58px;
	height: 64px;
	line-height: 64px;
	transition: .1s;
	float: left;
	font-size: 24px;
	cursor: pointer;
	transition: .1s;

	&:hover {
		color: $o;
	}

	&.active {
		background-color: $e;
		color: $b;
		cursor: default;

		&:hover {
			color: $b;
		}
	}
}

.contact-form__btn {
	display: inline-block;
	width: 256px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-family: $h2;
	background-color: $o;
	transition: .1s;

	&:hover {
		background-color: #E88713;
	}
}

.contacts-form__item {
	width: 222px;
	height: 48px;
	display: inline-block;
	margin-bottom: 32px;
	margin-left: 32px;
}

.contacts-tab__content {
	display: none;
	background-color: $e;
	padding: 28px 0 32px;

	p {
		padding: 0 32px;
		line-height: 24px;
		margin-bottom: 26px;
	}

	&.active {
		display: block;
	}
}

// footer

footer {
	padding-top: 42px;
}

.footer-title {
	font-size: 24px;
	font-family: $h2;
	margin-bottom: 38px;
}

.copyright {
	text-align: center;
	font-size: 16px;
	padding-bottom: 35px;
	padding-top: 20px;

	sub {
		font-size: 20px;
		position: relative;
		top: 8px;
	}
}

.wrapper {
	padding-top: 96px;
}


// preloader

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.show-placeholder {
	cursor: default;
	
	.preloader {
		display: inline-block;
	}

	.btn-txt {
		display: none;
	}
}

.preloader {
  background: none;
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
}


.success {
	display: block;
	position: fixed;
	z-index: 11;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: 0.1s;

	div {
		font-size: 16px;
		padding: 30px;
		color: #fff;
		border-radius: 10px;
		background-color: rgba(0,0,0,0.6);
	}
}

.show-success {
	.success {
		visibility: visible;
		opacity: 1;
	}
}


.preloader > span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  top: 8px;
  left: 3px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #fff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

.contact-form__btn .preloader {
	top: 2px;
}


.testimonials {
	background-color: $o;
	padding-bottom: 50px;
}

.offset1 {
	margin-left: 128px;
}

.quote {
	text-align: center;
	position: relative;
	margin-top: 45px;
	overflow: hidden;

	.icon {
		color: #fff;
		font-size: 110px;
		line-height: 1;
	}
}

.quote-sign {
	font-family: $h1;
	color: $o;
	font-size: 112px;
	position: absolute;
	left: -26px;
	top: 55px;
	right: 0;
	text-align: center;
}

.ts-slider {

	.swiper-slide {
		color: #fff;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;


		p {
			margin-bottom: 20px;
			font-size: 18px;
		}
	}
}

.ts-blok {

}

.ts-author {
	font-size: 24px;
	font-family: $h2;
	margin-bottom: 2px;
}






































// md responsive

@media (max-width: 1159px) {
	.container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
	}


	section {
		overflow: hidden;
	}

	.menu-close, .menu-open {
		display: block;
	}

	header {
		height: 56px;

		[class*="span"] {
			margin-left: 0;
		}

		.span2 {
			width: 100%;
			text-align: center;
		}

		.span10 {
			float: none;
			width: 170px;
			background-color: $e;
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 0 0 56px;
			display: flex;
			flex-direction: column;
			height: 0;
			z-index: 2;
			box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.1);

			&.span10-open {
				height: auto;

				nav, .menu-close, .sign-btn {
					display: block;
				}
	
			}
		}
	}

	nav, .menu-close, .sign-btn {
		display: none;
	}

	.sign-btn {
		float: none;
		order: 2;
		margin-top: 16px;
		margin-left: 0;
		margin-bottom: 32px;
	}

	nav {
		float: none;
		order: 1;
		padding-top: 8px;

		li {
			display: block;
			line-height: 40px;

			a {
				font-size: 14px;
			}
		}

		li + li {
			padding-left: 0;
		}
	}

	.logo {
	    margin-top: 7px;
	    margin-left: 0;
	    display: inline-block;

	    img {
	    	width: 148px;
	    }
	}

	.lang {
		float: none;
		position: fixed;
		right: 10px;
		top: 0;
		margin-top: 13px;
		margin-left: 0;
	}

	.langs {
		left: -24px;
	}

	.curent-lang {
		padding-right: 0;
		color: $o;

		&:after {
			display: none;
		}
	}

	.top {
	    padding-top: 56px;
	}

	.top-slider {
		.swiper-slide {
			background-position: left 0;
		}
	}

	.top-video {
		top: 0;
	}

	.description {
	    position: absolute;
	    top: 0;
	}

	.desc-container {
	    position: static;
	    top: 0;
	    box-sizing: border-box;
	    padding: 0 32px;
	    width: 700px;
	    margin: 0 auto;
	}

	.video-desc {
		padding-left: 180px;

		.icon {
				left: 80px;
			}
	}

	.slogan {
    margin-top: 116px;
	}

	iframe {
		width: 728px;
		height: 410px;
	}

	// about resp
	h1 {
		font-size: 32px;
		padding-top: 40px;
		padding-bottom: 30px;
		margin-bottom: 40px;
		letter-spacing: 0.02em;

		.icon {
			font-size: 6px;
		}
	}

	.about {
		padding-bottom: 60px;

		p {
			font-size: 14px;
		}
	}

	.span12 {
	  width: 100%;
	  margin-left: 0;
	}

	.row {
		margin-left: 0;
	}

	// gallery

	.gallery {
		padding-bottom: 30px;
	}

	$guter: 8px;

	.gallery-slider {
		margin-bottom: 30px;
		margin-left: -8px;

		.swiper-slide {
			width: 240px;
			margin-left: $guter;

			a {
				width: 240px;
				height: 152px;
			}

			a + a {
				margin-top: 8px;
			}
		}
	}

	.slider-arrows {
		display: none;
	}

	.gallery-links {

		a {
			font-size: 12px;
			margin: 0 18px;
		}
	}

	// participate
	.participate {
		.container {
			width: 750px;
		}

		.row {
			margin-left: -32px;
		}

		.span4 {
			width: 339px;
		}
	}

	.video-participate {
	  padding: 30px 0 20px 0;
	}

	// testimonials

	.testimonials {
		.span10 {
			width: 100%;

			&.offset1 {
				margin-left: 0;
			}
		}
	}

	.ts-slider .swiper-slide p {
		font-size: 16px;
		margin-bottom: 25px;
	}

	.ts-company {
		font-size: 14px;
	}

	// join

	.join {
		.container {
			width: 738px;
		}

		p {
			font-size: 16px;
			line-height: 28px;
		}

		.span6 {
			margin-left: 0;
			width: 100%;
		}

		h2 {
	    font-size: 26px;
	    line-height: 32px;
	    margin-bottom: 20px;
		}

		.span1 .icon-blob {
	    top: 3px;
	    left: -32px;
	    font-size: 68px;
		}

		.span5 p {
			font-size: 16px;
			line-height: 28px;
		}

		.span1 {
			width: auto;
		}

		.span1 {
			position: absolute;
			left: 0;
			top: 0;
		}

		.span5 {
			width: auto;
			padding-left: 44px;
		}
	}

	.join-step {
		font-size: 24px;
		padding-left: 5px;
	}

	.join-1, .join-3 {
		& > .container > .row {
			display: flex;
			flex-direction: column;
		}

		.span6 {
			order: 2;
		}

		.span6 + .span6 {
			order: 1;
		}
	}

	.join-1 {
		.span6 + .span6 {
			margin-bottom: 40px;
		}
	}

	.join-3 {
	    padding-top: 70px;
	    padding-bottom: 40px;
	}

	.join-title {
		font-size: 22px;
	}

	.join-item {

		.icon-top {
			top: 12px;
		}

		.icon {
			width: 66px;
			font-size: 36px;
		}

		.icon-flag {
			font-size: 52px;
		}

		.icon-biceps {
			font-size: 48px;
		}

		.icon-lips {
			font-size: 28px;
		}

		.icon-bubble {
			left: 5px;
			font-size: 46px;
		}

		.icon-notes {
			font-size: 40px;
		}

		.icon-camera {
			left: 5px;
		}

		.icon-eye {
			font-size: 46px;
		}

		.icon-stars {
			font-size: 46px;	
		}

		.icon-aces {
			font-size: 44px;
		}

		.icon-clock {
			font-size: 42px;
			left: 5px;
		}

		.icon-cloud {
			font-size: 26px;
		}
	}

	.join-wrap {
		margin-bottom: 40px;
	}

	.join-margin {
	    margin: 28px 0 0;
	}

	.join-2 {
    padding-top: 70px;
    padding-bottom: 40px;
	}

	// register

	.register {
		.container {
			width: 738px;
		}

		.span5, .span7 {
			width: 100%;
			margin-left: 0;
		}

		.span1 {
			position: absolute;
			width: auto;
			margin-left: 0;
		}

		.span4 {
			margin-left: 0;
			width: auto;
		}
	}

	.tab {
    padding: 20px 0 20px 0;
    min-height: auto;

    .icon {
    	font-size: 48px;
    }

    p {
    	font-size: 16px;
    	line-height: 28px;
    }
	}

	.tab-title {
		padding-left: 92px !important;
		padding-top: 13px !important;
		margin-bottom: 27px !important;
	}

	.tab-content {
    padding: 30px 0 38px 20px;
	}

	.form-item {
	  width: 314px;
	}

	// program

	.program {
		padding-bottom: 50px;

		h2 {
			font-size: 30px;
			padding: 0 0 38px 0;
		}

		.container {
			width: 738px;
		}

		.span4 {
			width: 100%;
			margin-left: 0;
		}

		.program-item {
	    font-size: 16px;
	    line-height: 24px;
	    margin-bottom: 20px;
	    position: relative;

	    .span1 {
	    	position: absolute;
	    	width: auto;
	    	margin-left: 0;
	    }

	    .span3 {
	    	width: auto;
	    	padding-left: 60px;
	    	margin-left: 0;
	    }
		}
	}

	// labours
	.labours {
		padding-bottom: 66px;

		.row {
			margin-left: 32px;
		}

		h2 {
			font-size: 36px;
			padding: 42px 0;
		}
	}

	// sponsors



	// contacts

	.contacts {
		.container {
			width: 738px;
		}

		.span3 {
			margin-left: 2%;
			width: 46%;
		}

		.span6 {
			width: 100%;
			margin-left: 0;
			margin-top: 30px;
		}
	}

	.contacts-form__item {
		width: 318px;
	}

	footer {
		.container {
			width: 592px;
		}

		.row {
			margin-left: -32px;
		}

		.span3 {
			margin-bottom: 30px;
		}
	}

	.copyright {
	    font-size: 14px;
	    padding-bottom: 35px;
	    padding-top: 0;
	}
}

// xs

@media (max-width: 767px) {
	.container {
	  padding: 0 10px;
	}

	.top-slider {
		height: 384px;
	}

	.description {
	    position: absolute;
	    top: 0;
	}

	.desc-container {
	    padding: 0;
	    width: 300px;
	    margin: 0 auto;
	}

	.video-desc {
		padding-left: 65px;
		margin-bottom: 32px;

		.icon {
				left: 10px;
				font-size: 34px;
			}
	}

	.slogan {
		left: -40px;
		margin-top: 20px;

		.icon {
			font-size: 150px;
		}
	}

	.slogan-text1 {
    font-size: 20px;
    line-height: 21px;
    top: 47px;
    left: 50px;
	}

	.slogan-text2 {
	    font-size: 28px;
	    line-height: 32px;
	    top: 69px;
	    left: 150px;
	}

	.video-desc {
		.icon {
			top: 26px;
		}

		h1 {
			line-height: 40px;

			strong {
				font-size: 36px;
			}

			span {
				font-size: 38px;
			}
		}
	}

	.desc-bottom {
		padding-left: 50px;

		.icon {
	    font-size: 76px;
	    left: -45px;
	    top: -14px;
		}
	}

	.desc-text {
		font-size: 14px;
		line-height: 20px;
	}

	.logo {
		margin-top: 11px;

		img {
			width: 124px;
		}
	}

	// participate
	.participate {
		.container {
			width: 100%;
		}

		.row {
			margin-left: 0;
		}

		.span4 {
			margin: 0 auto;
			width: 100%;
		}
	}

	.part-item {
    margin-bottom: 40px;
    min-height: auto;

    h2 {
    	font-size: 24px;
    	margin-bottom: 20px;
    }

    p {
    	font-size: 14px;
    	line-height: 24px;
    }
		
		.icon-biceps {
			font-size: 74px;
		}

		.icon {
			font-size: 80px;
		}

		.icon-helmet {
			font-size: 58px;
		}

		.icon-steak_big {
			font-size: 100px;
		}

		.icon-hand_shake_big {
			font-size: 54px;
		}

		.icon-disco_ball_big {
			font-size: 88px;
		} 
	}

	.part-item__icon {
	    height: 120px;
	    line-height: 120px;
	    text-align: center;
	    margin-bottom: 10px;
	}

	// testimonials

	.quote {
		margin-bottom: 5px;

		.icon {
			font-size: 84px;
		}
	}

	.quote-sign {
		font-size: 80px;	
		left: -19px;
		top: 39px;
	}

	.ts-slider .swiper-slide p {
	    font-size: 14px;
	    line-height: 24px;
	}

	.ts-author {
		font-size: 22px;
	}

	.testimonials {
		padding-bottom: 30px;
	}

	// join

	.join {
		.container {
			width: 100%;
			padding: 0 10px 0 15px;
		}

		p {
			font-size: 14px;
			line-height: 24px;
		}


		h2 {
	    font-size: 24px;
	    line-height: 32px;
		}

		.span5 p {
			font-size: 14px;
			line-height: 24px;
		}
	}

	.join-item {
	 	position: relative;

	 	.icon {
	 		position: absolute;
	 	}
	}

	.join-step {
		font-size: 24px;
		padding-left: 5px;
	}

	.join-desc {
    width: auto;
    padding-left: 66px;
	}

	.join-title {
		font-size: 18px;
	}

	// price

	.charge .icon {
	  font-size: 174px;
	}

	.cost {
		font-size: 24px;
		top: -12px;
	}

	.price p {
		font-size: 14px;
		line-height: 28px;
	}

	.price {
		padding-bottom: 40px;
	}

	// register

	.register {
		.container {
			width: 100%;
		}
	}

	.tab {
    padding: 10px 0 20px;
    min-height: auto;

    .icon {
    	font-size: 42px;
    }

    p {
    	font-size: 14px;
    	line-height: 28px;
    }

    .span4 > * {
      padding: 0 15px;
    }
	}

	.tab-title {
		padding-left: 86px !important;
		padding-top: 16px !important;
		margin-bottom: 22px !important;
	}

	.tab-content {
    padding: 30px 20px 38px 20px;
	}

	.form-item {
	  width: 100%;

	  &:nth-child(2n) {
	    margin-left: 0;
	  }
	}

	.form-label {
		font-size: 14px;
	} 

	.form-input {
    margin-bottom: 28px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 5px 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
	}

	.check-wrap {
		width: 40px;
		height: 40px;
		margin-right: 10px;
		position: relative;
		top: 0;
	}

	.icon-check {
		font-size: 26px;
		height: 40px;
		line-height: 40px;
	}

	.form-check {
		width: 40px;
		height: 40px;
	}

	.check-text {
		width: 189px;
		font-size: 14px;
		line-height: 22px;
		top: 5px;
	}

	.form-btn {
		text-align: center;
	}

	.register-btn {
		margin-top: 24px;
		width: 100%;
		height: 56px;
		line-height: 56px;
		font-size: 24px;
	}

	// program

	.program {
		padding-bottom: 40px;

		.container {
			width: 100%;
		}

		.span4 {
			width: 100%;
			margin-left: 0;
			padding-left: 10px;
		}

		.program-item {
	    font-size: 14px;
	    line-height: 24px;

	    .span3 {
	    	padding-left: 52px;
	    }
		}
	}

	// labours


	.lb-slider {
		.swiper-slide {
	    width: 308px;
	    margin: 0 6px;
	    display: flex;
	    flex-direction: column;

	    .lb-row {
	    	order: 2;
	    	position: relative;

	    	img {
	    		margin: 0;
	    	}
	    }

	    .lb-row + .lb-row {
	    	order: 1;
	    	margin-top: 0;
	    	margin-bottom: 20px;
	    	overflow: hidden;
	    	min-height: 236px;

	    	img {
	    		margin: 15px 0 0 -12%;
	    		width: 130%;
	    	}
	    }
		}
		p {
			font-size: 13px;
			line-height: 26px;
		}	
	}

	.labours {
		h2 {
			font-size: 32px;
			padding: 32px 0;
		}
	}

	.lb-block + .lb-block {
	    margin-left: 0;
	    width: 100%;
	    display: block;

	    p {
				padding-left: 130px;
	    }
	}

	.lb-block:first-child {
		width: 120px;
		position: absolute;
		top: 87px;
	}

	.lb-title {
		min-height: 80px;

		.icon {
			font-size: 70px;
		}
	}

	.lb-step {
		font-size: 20px;
		top: 15px;
		left: 40px;
	}

	.lb-caption {
		font-size: 20px;
		padding-left: 66px;
		padding-top: 16px;
	}



	// contacts

	.contacts {
		padding-top: 20px;

		.container {
			width: 100%;
			padding: 0 10px;
		}

		.span3 {
			margin-left: 0;
			width: 100%;
			padding-left: 10px;
			margin-bottom: 20px;
		}

		.span6 {
			margin-top: 30px;
		}

		ul {
			li {
				margin-top: 8px;
				margin-bottom: 12px;
			}

			a {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	.contact-item {
		.icon {
		    width: 30px;
		    font-size: 26px;
			}

		&__text {
			margin-left: 16px;
			height: 32px;
			line-height: 32px;
			font-size: 14px;
		}
	}

	.contacts-form__item {
		width: 100%;
		margin-left: 0;
		padding: 0 20px;
		box-sizing: border-box;
		margin-bottom: 28px;

		input {
			font-size: 14px;
		}
	}

	.contacts-title {
		font-size: 18px;
		height: 48px;
		line-height: 48px;
	}

	.contacts-tab {
    padding: 0;
    width: 50%;
    font-size: 18px;
    text-align: center;
	}

	.contact-form__btn {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 24px;
	}

	.contacts-tab__content {
		.form-btn {
			padding: 0 20px;
		}

		p {
			padding: 0 20px;
			line-height: 20px;
			margin-bottom: 22px;
			font-size: 14px;
		}
	}

	iframe {
	    width: 320px;
	    height: 180px;
	}

	// sponsors

	.sponsors {
		padding-bottom: 66px;

		h2 {
			font-size: 32px;
			padding: 32px 0;
		}
	}

	.sp-slider .swiper-slide {
	  margin: 0 8px;
	}

	// footer

	footer {
		.container {
		  width: 100%;
		}

		.row {
			margin-left: 0;
		}

		.span3 {
			width: 100%;
			margin-left: 0;
			padding-left: 32px;
			box-sizing: border-box;

			&:nth-child(3n) {
				margin-bottom: 0;
			}

			&:nth-child(4n) {
				.footer-title {
					display: none;
				}
			}
		}
	}
   
	.copyright {
		font-size: 12px;
	}
}

